html{
  touch-action: none;
  background-color: black;
}

body{
  overflow-wrap: break-word;
  font-size: 7rem;
  color: cornflowerblue;
  animation:fade 1s ease-in-out;
  font-family: monospace;
}
@keyframes fade{
  from{
    opacity: 0;
    transform: skewY(91deg) scale(2) translateY(100%);
  }
}