html{
	background-color: black;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	}
body{
	border:0.5rem solid;
	border-radius:50%;
	border-top:0.5rem solid skyblue;
	width:4rem;
	height:4rem;
	animation:spin 750ms linear infinite;}
	@keyframes spin{
	  0%{transform:rotate(0deg)}
	  100%{transform:rotate(360deg)}
	}